        <%= attachment_image_tag user_info, :profile_image, size: "100x100", fallback: "no_image.jpg" %>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= user_info.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= user_info.introduction %></th>
            </tr>
          </tbody>
        </table>
        <% if user_info.id == current_user.id %>
          <%= link_to edit_user_registration_path(user_info.id) do %>
           edit
          <% end %>
       <% end %>